/* Это файл CSS, а это комментарий */
body{
    display: flex;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}

p{
    display: flex;
    color: black;
    margin-left: 10px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.block1 {
    font-size: 50px;
    vertical-align: middle;
    text-align:center;
    font-family: Arial;
	width: 200px;
	height: 250px;
	background: linear-gradient(to bottom, rgb(19, 159, 0) 70%, white 50%);
	margin: 10px;
    box-shadow: 0 0 5px;
}
.block2 {
    position:relative;
    font-size: 50px;
    vertical-align: middle;
    text-align:center;
    font-family: Arial;
	width: 200px;
	height: 250px;
	background: linear-gradient(to bottom, rgb(6, 154, 222) 70%, white 50%);
	margin: 10px;
    box-shadow: 0 0 5px;
}

img{
    position: absolute;
    top: 150px;
    right: 20px;
}

.block2 h1{
    color: black;
}

.block3 {
    font-size: 50px;
    vertical-align: middle;
    text-align:center;
    font-family: Arial;
	width: 200px;
	height: 250px;
	background: linear-gradient(to bottom, rgb(255, 209, 3) 70%, white 50%);
    margin: 10px;
    box-shadow: 0 0 5px;
}